<ion-content>
  <ion-list>
    <ion-item-divider color="primary">
      <ion-label>
        <h2>Preguntas Frecuentes (FAQ)</h2>
      </ion-label>
    </ion-item-divider>

    <ion-accordion-group>
      <!-- Pregunta 1 -->
      <ion-accordion value="faq1">
        <ion-item slot="header">
          <ion-label><strong>1. ¿Qué es CollabCost?</strong></ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p>
            CollabCost es una plataforma diseñada para facilitar la gestión y el control de pagos en actividades compartidas. Permite a grupos de amigos, compañeros o familiares organizar sus gastos comunes, dividir de forma equitativa los costos y mantener un registro actualizado de todos los pagos realizadas. La aplicación se diferencia por su interfaz intuitiva y por permitir el envio de recordatorios automáticos para evitar retrasos en los pagos.
          </p>
        </div>
      </ion-accordion>

      <!-- Pregunta 3 -->
      <ion-accordion value="faq2">
        <ion-item slot="header">
          <ion-label><strong>2. ¿Cómo creo y gestiono una actividad compartida?</strong></ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p>
            Una vez que estés registrado y hayas iniciado sesion en la aplicación, podrás crear una nueva actividad compartida siguiendo estos pasos:
          </p>
          <ul>
            <li><strong>Crear actividad:</strong> Accede al apartado de grupos y entra en la pantalla de actividades deslizando el grupo que quieras, alli encontraras un botón para crear la actividad</li>
            <li><strong>Detalle de la actividad:</strong> Introduce el nombre, descripción, fecha y precio de la actividad (el cual se distribuira de forma equitativa entre todos los participante de la actividad)</li>
            <li><strong>Notificaciones y seguimiento:</strong> La aplicación te permitirá enviar notificaciones automáticas a todos los participantes que esten pendientes de pagarte accediendo al apartado de balances del grupo y podrás ver además el historial de las actividades del grupo.</li>
          </ul>
        </div>
      </ion-accordion>



      <!-- Pregunta 6 -->
      <ion-accordion value="faq3">
        <ion-item slot="header">
          <ion-label><strong>3. ¿Cómo puedo recuperar mi contraseña?</strong></ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p>
            Si has olvidado tu contraseña, simplemente selecciona la opción “¿Olvidaste tu contraseña?” en la pantalla de inicio de sesión. Se te solicitará ingresar tu correo electrónico, y recibirás un enlace para restablecer la contraseña. Este enlace tiene un tiempo limitado de validez por motivos de seguridad, por lo que te recomendamos seguir las instrucciones lo antes posible.
          </p>
        </div>
      </ion-accordion>

      <!-- Pregunta 7 -->
      <ion-accordion value="faq4">
        <ion-item slot="header">
          <ion-label><strong>4. ¿Puedo ver el historial de mis actividades y transacciones?</strong></ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p>
            Sí, CollabCost ofrece un completo panel de historial donde podrás consultar todas las actividades en las que has participado, junto con detalles de cada transacción realizada, estado de los pagos y cualquier ajuste o reembolso efectuado. Esta funcionalidad te permite llevar un control exhaustivo de tus gastos compartidos en un solo lugar.
          </p>
        </div>
      </ion-accordion>

      <!-- Pregunta 8 -->
      <ion-accordion value="faq5">
        <ion-item slot="header">
          <ion-label><strong>5. ¿Cómo se gestionan los pagos pendientes o retrasados?</strong></ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p>
            La aplicación incorpora un sistema de recordatorios via email que notifica a los usuarios sobre los pagos pendientes cada vez que estos quieran a traves de un botón.
          </p>
        </div>
      </ion-accordion>


      <!-- Pregunta 10 -->
      <ion-accordion value="faq6">
        <ion-item slot="header">
          <ion-label><strong>6. ¿Cómo se garantiza la privacidad de mis datos?</strong></ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p>
            La privacidad de tus datos es fundamental para CollabCost. Se aplican rigurosas políticas de protección de datos. Los datos se usan únicamente para fines operativos y no se comparten con terceros sin tu consentimiento explícito. Toda la información personal está protegida mediante sistemas de encriptación y auditorías periódicas de seguridad.
          </p>
        </div>
      </ion-accordion>

      <!-- Pregunta 12 -->
      <ion-accordion value="faq7">
        <ion-item slot="header">
          <ion-label><strong>7. ¿Qué hago si tengo otra consulta o necesito ayuda personalizada?</strong></ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p>
            Si tienes alguna otra duda o necesitas asistencia personalizada, puedes enviar un mail al correo "CollabCost@gmail.com" . Nuestro equipo de atención al usuario está disponible para ayudarte a resolver cualquier inquietud, recibir sugerencias o guiarte en el uso óptimo de la plataforma.
          </p>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
</ion-content>
