
<ion-header>
  <div>
    <ion-toolbar>
    <ion-title>Mis Grupos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToCreateGroup()"><ion-icon name="people-outline"></ion-icon></ion-button>
      <ion-button (click)="goToListGroup()"><ion-icon name="list-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar 
  placeholder="Buscar usuarios..." 
  [debounce]="1000" 
  (ionInput)="handleInput($event)">
</ion-searchbar>
    <ion-list [inset]="true">
      <ion-item-sliding *ngFor="let group of filterListGroup; let i = index">
         <ion-item [button]="true" type="button" (click)="goToBalance(group)">
          <ion-icon [id]="'icon-admin-'+i" *ngIf="isAdministrator(group)" name="star" slot="start"></ion-icon>
          <ion-avatar aria-hidden="true" slot="start">
            <img *ngIf="group.photo" 
               [src]="'data:image/jpeg;base64,' + group.photo" 
               alt="Group Photo" 
               width="200">
            </ion-avatar>
          <ion-label>{{ group.title }}</ion-label>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="dark">
            <ion-button (click)="goToActivity(group)"  fill="clear">
              <ion-icon slot="icon-only" name="list-outline"></ion-icon>
            </ion-button>
          </ion-item-option>
          <ion-item-option color="medium">
            <ion-button (click)="goToChat(group)"  fill="clear">
              <ion-icon slot="icon-only" name="chatbox-ellipses-outline"></ion-icon>
            </ion-button>
          </ion-item-option>
          <ion-item-option color="light">
            <ion-button (click)="openUserModal(group)"  fill="clear">
              <ion-icon slot="icon-only" name="people-outline"></ion-icon>
            </ion-button>
          </ion-item-option>
          
          <ion-item-option color="danger">
            <ion-button [id]="'open-action-sheet-' + i"  fill="clear">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            <ion-action-sheet [trigger]="'open-action-sheet-' + i" header="¿Quieres Eliminar el grupo?" [buttons]="actionSheetButtons(group)"></ion-action-sheet>
          </ion-item-option>
        </ion-item-options> 

        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Detalles del grupo</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen(false)">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding" >
            <p>
              <ion-text color="warning"></ion-text>
              Participantes
            </p>
            <ion-item [inset]="true" *ngFor="let member of selectedGroup?.miembros; let i = index" class="label-group" >
              <ion-label >{{member.username}}</ion-label>
              <ion-button *ngIf="selectedGroup && isAdministrator(selectedGroup) && member?.username!==userAuth?.username" color="danger" expand="block" (click)="deleteMember(member,selectedGroup)"><ion-icon name="close-circle"></ion-icon></ion-button>
            </ion-item>
          </ion-content>
          </ng-template>
        </ion-modal>

      </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>