<ion-button  (click)="goToCreateGroup()" color="primary">
  Crear Grupo
  <ion-icon name="people-circle-outline"></ion-icon>
</ion-button>


<ion-button  (click)="goToListGroup()" color="primary">
  Listado de grupos
  <ion-icon name="people-circle-outline"></ion-icon>
</ion-button>

<ion-header>
  <div>
    <ion-toolbar>
    <ion-title>Mis Grupos</ion-title>
  </ion-toolbar>

    <ion-list [inset]="true">
      <ion-item-sliding *ngFor="let group of listMyGroups; let i = index">
         <ion-item [button]="true">
          <ion-avatar aria-hidden="true" slot="start">
            <img *ngIf="group.photo" 
               [src]="'data:image/jpeg;base64,' + group.photo" 
               alt="Group Photo" 
               width="200">
            </ion-avatar>
          <ion-label>{{ group.title }}</ion-label>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="dark">
            <ion-icon slot="icon-only" name="list-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="medium">
            <ion-icon slot="icon-only" name="chatbox-ellipses-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="light">
            <ion-icon slot="icon-only" name="people-outline"></ion-icon>
          </ion-item-option>
          
          <ion-item-option color="danger">
            <ion-button [id]="'open-action-sheet-' + i" expand="block" fill="clear">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            <ion-action-sheet [trigger]="'open-action-sheet-' + i" header="¿Quieres Eliminar el grupo?" [buttons]="actionSheetButtons()"></ion-action-sheet>
          </ion-item-option>
        </ion-item-options> 
      </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>