.sender {
  ion-label {
    text-align: right;
  }
  ion-item {
    justify-content: flex-end; /* Ajusta según convenga */
  }
}

.receiver {
  ion-label {
    text-align: left;
  }
  ion-item {
    justify-content: flex-start; /* Ajusta según convenga */
  }
}
