.sender {
  ion-label {
    text-align: right;
  }
  ion-item {
    justify-content: flex-end; /* Ajusta según convenga */
  }
}

.receiver {
  ion-label {
    text-align: left;
  }
  ion-item {
    justify-content: flex-start; /* Ajusta según convenga */
  }
}


ion-content.chat-content {
  .chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* empuja la lista hacia abajo */
    height: 100%;
  }
}
