<!-- chat.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>WhatsApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de mensajes -->
  <ion-list>
    <ion-item
      *ngFor="let item of messageList"
      [ngClass]="{
        'sender': item.message_side === 'sender',
        'receiver': item.message_side === 'receiver'
      }"
      lines="none"
    >
      <!-- Avatar a la izquierda si es receptor, a la derecha si es emisor -->
      <ion-avatar slot="start" *ngIf="item.message_side === 'receiver'">
        <img alt="Avatares" [src]="'assets/perfiles/' + item.avatar" />
      </ion-avatar>

      <ion-avatar slot="end" *ngIf="item.message_side === 'sender'">
        <img alt="Avatares" [src]="'assets/perfiles/' + item.avatar" />
      </ion-avatar>

      <ion-label>
        <h3>{{ item.username }}</h3>
        <h2>{{ item.message }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- Barra inferior para enviar mensajes -->
<ion-footer>
  <ion-toolbar>
    <ion-input
      type="text"
      placeholder="Message..."
      [(ngModel)]="messageInput"
      clearInput
    >
    </ion-input>
    <ion-button (click)="sendMessage()">
      <ion-icon slot="start" name="send"></ion-icon>
      Enviar
    </ion-button>
  </ion-toolbar>
</ion-footer>
