<ion-list>
    <ion-item>
      <ion-label>Grupos a los que perteneces</ion-label>
      <ion-badge color="primary">{{groups.length}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Amigos</ion-label>
      <ion-badge color="secondary">{{friends.length}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Activides completadas</ion-label>
      <ion-badge color="success">80</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Notificaciones recibidas</ion-label>
      <ion-badge color="warning">{{noti.length}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Pagos pendientes</ion-label>
      <ion-badge color="danger">1000</ion-badge>
    </ion-item>
  </ion-list>