
<ion-menu *ngIf="isAuthenticated()" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Collab Cost</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.

    <ion-searchbar></ion-searchbar>
    <ion-button expand="clear"  (click)="goToEdit()" color="primary">Editar Perfil</ion-button>
    <ion-button expand="block" (click)="logout()" color="primary">logout</ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header *ngIf="isAuthenticated()">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-img class="responsive-img" [src]="'assets/images/logotipo.png'" alt="Logotipo de la aplicación"></ion-img>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <router-outlet></router-outlet>
  </ion-content>
</div>

