<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <!-- Campo de usuario -->
          <ion-item>
            <ion-input type="text" label="Titulo" [(ngModel)]="activity.title" name="Title" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" label="Descripcion" [(ngModel)]="activity.description" name="Description" required></ion-input>
          </ion-item>

          <ion-item>
            
            <ion-input type="date" label="fecha de inicio" [(ngModel)]="activity.startDate" name="Title" required></ion-input>
          </ion-item>
          <ion-item>
            
            <ion-input type="date" label="fecha de fin" [(ngModel)]="activity.endDate" name="Title" required></ion-input>
          </ion-item>
          <ion-item>
            
            <ion-input type="number" label="Precio" [(ngModel)]="activity.price" name="Title" required></ion-input>
          </ion-item>
          
          
          <!-- Mostrar el nombre del archivo si ya hay uno -->
         
          

      
     
          <!-- Botón de registro -->
          <ion-button *ngIf="isEditMode==false" expand="block" type="submit" color="primary">Crear grupo</ion-button>
          <!-- <ion-button *ngIf="isEditMode==true" expand="block" type="submit" color="primary">Editar Grupo</ion-button>
          -->
        </form>
      
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>